.body,
html {
    animation: one 20s ease-in-out infinite alternate;
}

.code-txt{
    
}
.card {
    display: inline-block;
    padding: 32px 48px 0px 48px;
    height: 65vh;
    border: 1px solid #EEE;
    border-radius: 0.8rem;
    background: #0a0c0f;
}


@media (max-width: 700px) {
    .card {
        display: inline-block;
        padding: 32px 48px 0px 48px;
        height: 85vh;
        border: 1px solid #EEE;
        border-radius: 0.8rem;
        background: #0a0c0f;
    }

}

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .card {
        display: inline-block;
        padding: 32px 48px 0px 48px;
        height: 85vh;
        border: 1px solid #EEE;
        border-radius: 0.8rem;
        background: #0a0c0f;
    }
}


@keyframes one {

    0%,
    100% {
        background: linear-gradient(to left, rgba(72, 23, 128, 1) 0%, rgba(61, 50, 155, 1) 27%, rgba(44, 94, 199, 1) 70%, rgba(32, 124, 229, 1) 100%);
    }

    10%,
    90% {
        background: linear-gradient(to left, rgba(72, 23, 128, 1) 0%, rgba(61, 50, 155, 1) 27%, rgba(44, 94, 199, 1) 70%, rgba(32, 124, 229, 1) 100%);
    }

    20%,
    80% {
        background: linear-gradient(to left, rgb(34, 5, 66) 0%, rgba(61, 50, 155, 1) 27%, rgba(44, 94, 199, 1) 70%, rgba(32, 124, 229, 1) 100%);
    }

    40%,
    60% {
        background: linear-gradient(to left, rgb(44, 11, 82) 0%, rgba(61, 50, 155, 1) 27%, rgba(44, 94, 199, 1) 70%, rgba(32, 124, 229, 1) 100%);
    }


    50% {
        background: linear-gradient(to left, rgba(72, 23, 128, 1) 0%, rgba(61, 50, 155, 1) 27%, rgba(44, 94, 199, 1) 70%, rgba(32, 124, 229, 1) 100%);
    }
}
